<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.learnless.activitylifecycletest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="standard">
            <!--1.standard,默认模式，跳转活动都新建活动
                2.singleTop,回退有该活动不新建,且跳转同一个活动不新建
                3.singleTask,如果栈中有该活动，移除其上的所有活动，使其至于栈顶
                4.singleInstance,比较复杂，使该活动共享
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".ThirdActivity"></activity>
    </application>

</manifest>